
 :root{
    --main-color:#003DA5;
    --darker-main: #002A72;
    --accent-color:#FFB71B;
    --white:white;
    --grey:#FBFBFB;
}

*{
    box-sizing:border-box;
}

div > .book-pop-up-form{
    color:var(--white)
}

body{
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
    background-color: #F5F5F5;

    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.content-container{
    width:100%;
    height:100%;
    display:grid;
    grid-template:1fr 10fr 1fr/1fr;
}

/* --------- Header ---------  */
.header{
    grid-area:1/1/2/2;

    display:flex;
    flex-wrap: wrap;
    background-color: var(--main-color);
}
.yellow-border{
    position:relative;
    height:40px;
    width:2px;
    background-color:var(--accent-color)
}

.ucr-logo{
    margin-right: 24px;
}

.left-side,
.right-side{
    display:flex;
    align-items: center;
    margin: 16px 24px;
    
}
.header-title{
    color:white;
    font-size: 1.5rem;
    line-height: 1.08;
    padding-left: 32px;
    flex-shrink:1;
}

.right-side{
    gap: 24px;
    margin-left:auto;
}

.links{
    font-size:1rem;
    font-weight:bold;
    color:var(--white);
}
.link{
    padding:16px;
}

.notification, .setting{
    height: 24px;
}
.profile-name{
    font-size: 1.125rem;
    font-weight:normal;
    color:var(--white)
}
.profile-logo{
    height:40px;
    padding:8px;
    background-color: rgb(31, 30, 30);
    border-radius:50%;
    box-shadow: 1px 1px 2px rgb(46, 46, 46);
}
.setting{
    width:24px;
}
/* --------- sidebar ---------  */
.filter-box{
    grid-area:1/1/2/2;
    padding:32px;
    border-bottom:2px solid #e6e6e6;
    background-color:var(--grey);

}

.filter-title{
    font-size:20px;
    font-weight:800;
    color:#AAAAAA;
}


.filter{
    padding-left:32px;
    color:#353535;
}


.completed-box{
    grid-area:2/1/3/2;
    background-color:var(--grey);
    padding:32px;

}
.container{
    background-color:var(--white);
    grid-area: 2/1/3/2;

    display:grid;
    grid-template: 2fr 4fr/1fr 8fr;
}
/* --------- content ---------  */

.content-box{
    padding:32px 32px 0 32px;
    grid-area: 1/2/3/3;
    overflow: scroll;
    border-left:2px solid #e6e6e6;
}

/* --------- search bar ---------  */
.search-bar{
    display:flex;
    gap:16px;
}

.search{
    width:100%;
    background-color: #fcfcfc;
    border:2px solid #ececec;
    border-radius:8px;
    
    display:flex;
    align-items:center;
    padding:0 4px;
}

.search-text{
    font-size:18px;
    opacity:40%;
}

.open-button{
    padding:8px 16px;
    width:169px;
    background-color:var(--accent-color);
    font-size:20px;
    font-weight:bolder;
    color:white;
    border-radius:8px;
    border-style:none;

}
/* --------- item container ---------  */

.item-container{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    padding-top:40px;
    justify-content: flex-start;
    grid-row-gap:40px;

}


.book,
.newBook{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:#ebf1fa;;
    height:250px;
    width:200px;
    border-radius:8px;
    padding:16px;
}


.book-title{
    font-size: 24px;
    font-weight: bold;
}

.book-buttons{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.read-button,
.notRead-button,
.remove-button{
    padding:8px;
    width:152px;
    border:none;
    color:var(--white);
    font-size:16px;
    font-weight:bold;
}

.read-button{
background-color: #039855;
}
.read-button:active{
    background-color: #02693b;

}

.notRead-button{
    background-color:#BB251A;
}

.remove-button:hover{
    background-color:#BB251A;
}
.remove-button:active{
    background-color:#8b1a12;

}
/* .book:hover{
    opacity:80%;
} */

/* --------- footer ---------  */

.footer{
    background-color:var(--main-color);
    color:var(--white);
    grid-area:3/1/4/2;
    padding:16px;
    text-align: center;
}


    /********    Add Book popup    *********/

.pop-up-container,
.book-pop-up-container{
    display:none;
}

.pop-up-container{
    height:100%;
}
.pop-up-background{
    position:fixed;
    z-index:1;
    opacity:80%;
    width:100%;
    height:100%;
    background-color:black;
}

.pop-up-form{ 
    position:absolute;
    z-index: 2;
    transform: translateX(-50%);
    left:50%;
    top:10%;
    background-color:white;
    width: 640px;
    height:613px;

    display:grid;
    grid-template-columns: 1fr 8fr;
}
.left-side-banner{
    background-color:var(--darker-main);
    padding:24px;
    grid-column: 1/2;
}

.banner-content{
    grid-column:2/3;
}
.pop-up-title{
    font-size: 48px;
    font-weight: 800;
    padding-top: 40px;
    color:var(--darker-main);
}

.author-name, 
.pop-up-author,
.pop-up-title{
    text-align: center;
}

.form-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin:32px;
    justify-items:center;
}

.title-container,
.author-container,
.pages-container,
.pages-content{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100px;
    font-size:20px;
}


.title-container{
    grid-column:1/3;
}

#title,
#author,
#pages{
    height:40px;
    border-radius:5px;
    border-style:none;
    border:2px solid #CBCBCB;
}

.author-container{
    grid-area:2/1/3/3;
}

.pages-container{
    grid-area:3/1/4/3;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 16px;
}

.pages-content{
    width:200px;
}
.checkbox-container{
    display:flex;
    flex-direction: column;
}
.submit-button{
    color:white;
    font-size:24px;
    font-weight: bolder;
    align-self: center;
    background-color: var(--accent-color);
    width: 310px;
    height:64px;
    border:2px solid #CBCBCB;
    border-style:none;
    border-radius: 8px;
}

.incomingForm{
    display:flex;
    flex-direction: column;
}

    /********    Display Book popup    *********/

.book-pop-up-form{ 
    position:absolute;
    z-index: 2;
    transform: translateX(-50%);
    left:50%;
    top:20%;
    background-color:white;
    width: 720px;
    height:480px;

    display:grid;
    grid-template-columns: 2fr 3fr;
}
.pop-up-author{
padding-bottom:32px;
font-size: 24px;

}
.book-left-side{
    grid-column:1/2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.book-popup-image{
    width:200px;
    height:296px;
}
.book-right-side{
    grid-column: 2/3;
    background-color:#002A72;
padding:48px;

    display:flex;
    flex-direction: column;

    align-items:center
}

.book-right-side .pop-up-title{
    color:var(--white);
    padding-top:0;
}

.pop-up-pages{
    display:flex;
    gap: 16px;
    font-size: 24px;
}

.pop-up-content{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    width:300px;
    gap:16px;
}

.remove-book{
    background-color:#BB251A;
    width:300px;
    border-radius:8px;
    color:white;
    font-size:24px;
    font-weight:700;
    border:none;
    margin-top:64px;
    height:64px;
}